In [12]:
import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO

import pandas as pd

TESTDATA = StringIO("""E;L;P;PI
    E1;L1;P1;
    E1;L1;P2;Two Way P
    E1;L2;P3;
    E1;L2;P4;One Way R
    """)

df = pd.read_csv(TESTDATA, sep=";")
df.head()

        E   L   P         PI
0      E1  L1  P1        NaN
1      E1  L1  P2  Two Way P
2      E1  L2  P3        NaN
3      E1  L2  P4  One Way R

In [13]:
df['key'] = df['E'] + df['L']

In [14]:
df2 = df[df.PI.notnull()]
df2.head()

        E   L   P         PI       key
1      E1  L1  P2  Two Way P      E1L1
3      E1  L2  P4  One Way R      E1L2

In [15]:
df2.rename(columns={'P':'preferredP'}, inplace=True)
df2.head()

/Users/travisjefferies/anaconda/lib/python3.5/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

        E   L preferredP         PI       key
1      E1  L1         P2  Two Way P      E1L1
3      E1  L2         P4  One Way R      E1L2

In [16]:
df3 = df[df.PI.isnull()]
df3.head()

        E   L   P   PI       key
0      E1  L1  P1  NaN      E1L1
2      E1  L2  P3  NaN      E1L2

In [17]:
result = df2.merge(df3[['P', 'key']], on='key')

In [21]:
result[['E', 'L', 'key', 'preferredP', 'P', 'PI']]

        E   L       key preferredP   P         PI
0      E1  L1      E1L1         P2  P1  Two Way P
1      E1  L2      E1L2         P4  P3  One Way R